.header-logo {
  text-align: center;
}

.form-control {
  border-radius: 10px !important;
}

.login-page {
  background-color: #ffffff;
  height: 100vh;
}

.login-panel {
  background-color: white;
  padding-bottom: 25px;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  border-radius: 2px;
}

.login-content {
  padding: 20px 60px;
}

.login-content-main {
  margin-top: 10px;
  width: 100%;
}

.login-title {
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
}

.input-style {
  border: none;
  margin-top: 10px;
  padding: 4px 2px;
}

.icon-prefix {
  margin-right: 10px;
}

.remember-account {
  margin-top: 5px;
}

.button-submit {
  text-align: center;
  width: 100%;
  background-color: rgba(13, 90, 253, 1);
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  border: 0;
  padding: 4px;
  margin-top: 12px;
}

.title-child {
  text-align: center;
  margin-top: 15px;
}

.form-item {
  margin-bottom: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #1363b9;
  color: #ffffff;
  text-align: right;
}

footer a {
  color: #ffffff;
}

footer .ui-divider {
  border-left: 1px solid rgb(255 255 255 / 70%);
}

@media (min-width: 320px) and (max-width: 575px) {
  .login-content {
    padding: 20px 30px;
  }
}
