<div class="layout-wr">
  <nz-layout class="layout-wr">
    <div>
      <div nz-row class="title-main">
        <div [routerLink]="'/welcome'">
          <span
            nz-icon
            nzType="arrow-left"
            nzTheme="outline"
            class="title-main-icon"
          ></span>
        </div>
        <div class="title-main-content">Kho thuốc</div>
      </div>
      <div class="filter">
        <a
          nz-dropdown
          [nzDropdownMenu]="menu"
          nz-row
          nzJustify="space-between"
          nzAlign="bottom"
        >
          <div nz-col class="filter-content">Lọc theo tủ thuốc</div>
          <div nz-col class="filter-icon">
            <span nz-icon nzType="caret-down" nzTheme="outline"></span>
          </div>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-item>3rd menu item</li>
            <li nz-menu-item nzDanger>4th danger item</li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div nz-row class="input-search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            type="text"
            nz-input
            placeholder="Tìm kiếm theo tên hoặc mã thuốc"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search" nzTheme="outline"></span>
        </ng-template>
      </div>
      <div class="medication-list">
        <div class="medication-items m-3 pl-2">
          <div nz-row class="medication-item p-2">
            <div nz-col nzSpan="6">
              <img
                width="75%"
                src="assets/medication.png"
                alt="Thuốc"
                style="margin: 0px 14px"
              />
            </div>
            <div nz-col nzSpan="8" class="medication-info m-2">
              <div class="medication-name">Natri clorua</div>
              <div class="medication-cost" style="color: #0d5afd">25000đ</div>
            </div>
            <div nz-col nzSpan="9" class="medication-order">
              <div nz-row>
                <div class="medication-order-icon">
                  <span
                    nz-col
                    nz-icon
                    nzType="shopping-cart"
                    nzTheme="outline"
                  ></span>
                </div>
                <div nz-col>Điều chuyển</div>
              </div>
            </div>
          </div>
          <div nz-row class="medication-item p-2">
            <div nz-col nzSpan="6">
              <img
                width="75%"
                src="assets/medication.png"
                alt="Thuốc"
                style="margin: 0px 14px"
              />
            </div>
            <div nz-col nzSpan="8" class="medication-info m-2">
              <div class="medication-name">Natri clorua</div>
              <div class="medication-cost" style="color: #0d5afd">25000đ</div>
            </div>
            <div nz-col nzSpan="9" class="medication-order">
              <div nz-row>
                <div class="medication-order-icon">
                  <span
                    nz-col
                    nz-icon
                    nzType="shopping-cart"
                    nzTheme="outline"
                  ></span>
                </div>
                <div nz-col>Điều chuyển</div>
              </div>
            </div>
          </div>
          <div nz-row class="medication-item p-2">
            <div nz-col nzSpan="6">
              <img
                width="75%"
                src="assets/medication.png"
                alt="Thuốc"
                style="margin: 0px 14px"
              />
            </div>
            <div nz-col nzSpan="8" class="medication-info m-2">
              <div class="medication-name">Natri clorua</div>
              <div class="medication-cost" style="color: #0d5afd">25000đ</div>
            </div>
            <div nz-col nzSpan="9" class="medication-order">
              <div nz-row>
                <div class="medication-order-icon">
                  <span
                    nz-col
                    nz-icon
                    nzType="shopping-cart"
                    nzTheme="outline"
                  ></span>
                </div>
                <div nz-col>Điều chuyển</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-layout>
</div>
<header nz-row>
  <div nz-row [nzGutter]="24" class="header-wapper">
    <div nz-col class="gutter-row" [nzSpan]="8" [routerLink]="'/welcome'">
      <span
        nz-icon
        nzType="home"
        nzTheme="fill"
        class="header-item-icon"
      ></span>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
      <span
        nz-icon
        nzType="bars"
        nzTheme="outline"
        class="header-item-icon"
      ></span>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8" [routerLink]="'/setting'">
      <span
        nz-icon
        nzType="user"
        nzTheme="outline"
        class="header-item-icon"
      ></span>
    </div>
  </div>
</header>
